
// Callout mixin, since we use it a couple times
@mixin callout($content){
  display:grid;
  grid-template-columns: max-content auto;
  align-items: baseline;
  font-size: 0.9rem;
  background: $feedback-color;
  border: 2px dashed $feedback-color; 
  padding: $sp-2 $sp-1;
  color: $grey-dk-300;
   &:before{
    content: "#{$content}";
    grid-column-start: 1;
    margin-right: 1em;
    @extend .label;
  }
  & > *{
    grid-column-start: 2;
  }
}