/*
  Customizations/overrides
 */
body {
    padding-bottom: 0 !important;
}
.main-content-wrap {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.footer_sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    & > .sshrc {
        padding-right: 3em;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    & > .dhil {
        img {
            max-width: 14rem;
        }
        a {
            &:hover {
                img {
                    filter: revert;
                }
            }
            img {
                filter: saturate(50%) sepia(70%);
                transition: filter 0.3s ease-in-out;
            }
        }
    }
}
@media (max-width: 576px) {
    .footer_sponsor {
        display: block;
        & > .sshrc {
            padding-right: 0em !important;
        }
        & > .dhil {
            padding-top: 1em !important;
        }
    }
}